<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQlite</title>
</head>
<body>
    <h1>
        Add new Student
    </h1>

    <form method="POST" action="{{url_for('create_route')}}">
        <label>
            Name:
            <input type="text" name="nm" />
        </label>
        <label>
            Surname:
            <input type="text" name="sm" />
        </label>
        <label>
            Country:
            <input type="text" name="ct" />
        </label>
        <button type="submit">
            Submit
        </button>
    </form>
</body>
</html>