<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/">Start</a>
        <a href="/newrec">New Book</a>
        <a href="/list">List Books</a>
    </nav>

    <h1>Bookstore v1.0: New Record</h1>
    <hr />
    <p>Create a new book</p>

    <form action="{{url_for('create_route')}}" method="POST">
        <label>
            Title: <input type="text" name="tt" />
        </label>
        <label>
            Author: <input type="text" name="at" />
        </label>
        <label>
            Year: <input type="text" name="yr" />
        </label>
        <button type="submit">
            Submit
        </button>
    </form>
</body>
</html>