<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals | Create</title>  
    <!-- importing -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-[100vh] flex flex-col bg-gray-100 justify-evenly items-center relative z-1 overflow-hidden">

    <section class="w-full h-full t-0 l-0 absolute bg-orange-300 -z-5 lg:skew-x-[40deg] skew-x-[30deg] lg:translate-x-[60rem] md:translate-x-[40rem] translate-x-[20rem]">
    </section>

    <nav class="shadow bg-white rounded-full md:w-2/5 w-5/5 mx-auto p-2 flex flex-row justify-evenly items-center relative z-1">
        <a href="/" class="py-2 px-4 rounded-full hover:bg-orange-400 text-xl hover:text-white transition-all duration-300">Start</a>
        <a href="/about" class="py-2 px-4 rounded-full hover:bg-orange-400 text-xl hover:text-white transition-all duration-300">About</a>
        <a href="/list" class="py-2 px-4 rounded-full hover:bg-orange-400 text-xl hover:text-white transition-all duration-300">List</a>
        <a href="/create" class="py-2 px-4 rounded-full hover:bg-orange-400 text-xl hover:text-white transition-all duration-300">Create</a>
    </nav>

    
    <form action="{{url_for('create_route')}}" method="POST" class="shadow xl:w-2/6 lg:w-3/6 w-5/6 h-4/5 bg-white rounded-3xl p-4 relative z-1 flex flex-col justify-center items-center gap-5">
        <h1 class="text-5xl font-bold text-center">Create a new Meal</h1>
        <hr class="w-2/5 my-2 border-2 rounded border-orange-300" />
        <label class="flex flex-col sm:w-1/2 w-4/5 text-xl">
            Name: 
            <input type="text" name="nm" class="border-b-2 outline-none p-2 focus:border-orange-300 focus:text-orange-500 hover:border-orange-300 hover:text-orange-500 transition-all duration-300 text-lg" />
        </label>
        <label class="flex flex-col sm:w-1/2 w-4/5 text-xl">
            Image: <input type="text" name="ig" class="border-b-2 outline-none p-2 focus:border-orange-300 focus:text-orange-500 hover:border-orange-300 hover:text-orange-500 transition-all duration-300 text-lg" />
        </label>
        <label class="flex flex-col sm:w-1/2 w-4/5 text-xl">
            Category: 
            <select name="ct" class="bg-white border-b-2 outline-none p-2 focus:border-orange-300 focus:text-orange-500 hover:border-orange-300 hover:text-orange-500 transition-all duration-300 text-lg">
                <option>Select one</option>
                {% for category in categories %}
                    <option >{{category.alias}}</option>
                {% endfor %}
            </select>
        </label>
        <div>
            <button type="submit" class="p-2 font-bold text-xl rounded bg-orange-300 text-white hover:bg-orange-400 transition-all duration-300">
                Create
            </button>
            <a href="/list" class="p-2 font-bold text-xl rounded border-2 border-orange-300 text-orange-300 transition-all duration-300">Go Back</a>
        </div>

    </form>
</body>
</html>